# editors
.vscode
*.swp
*~

# python
.venv

# local wifi credentials
app/wifi.conf

# build
/build*
/twister-out*
app/build*

__pycache__/

# docs
/doc/_build*
app/keys/

# WASM build artifacts
*.wasm
*.o

