#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/led/worldsemi_ws2812c.h>

/ {
  chosen {
    mcuboot,image-ram = &psram_exec;
    zephyr,bootloader-info = &bootloader_info;
  };

  psram_exec: psram_exec@42000000 {
    compatible = "zephyr,memory-region", "mmio-sram";
    reg = <0x42000000 0x600000>;
    zephyr,memory-region = "WEBOS_PSRAM_EXEC";
  };

  bootloader_info_mem: bootloader_info_mem@3fcff000 {
    compatible = "zephyr,memory-region", "mmio-sram";
    reg = <0x3fcff000 0x100>;
    zephyr,memory-region = "WEBOS_BOOTLOADER_INFO";

    bootloader_info_retained: retainedmem {
      compatible = "zephyr,retained-ram";
      #address-cells = <1>;
      #size-cells = <1>;

      bootloader_info: retention@0 {
        compatible = "zephyr,retention";
        reg = <0x0 0x100>;
      };
    };
  };

  fstab {
    compatible = "zephyr,fstab";

    storage_fatfs: storage_fatfs {
      compatible = "zephyr,fstab,fatfs";
      automount;
      disk-access;
      mount-point = "/STORAGE:";
    };
  };

  flash_disk0 {
    compatible = "zephyr,flash-disk";
    partition = <&storage_partition>;
    disk-name = "STORAGE";
    cache-size = <4096>;
  };

  web_gpio2: web_gpio2 {
    compatible = "webos,gpio";
    gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
  };

  web_rgbled48: web_rgbled48 {
    compatible = "webos,rgbled";
    status = "disabled";
    led = <&led_strip>;
    webos-pin = <48>;
  };
};

&spi3 {
  pinctrl-0 = <&spim3_rgbled>;

  led_strip: led_strip@0 {
    status = "disabled";
    compatible = "worldsemi,ws2812-spi";
    reg = <0>;
    spi-max-frequency = <2400000>;
    bits-per-symbol = <3>;
    spi-one-frame = <0x6>;
    spi-zero-frame = <0x4>;
    reset-delay = <300>;
    chain-length = <1>;
    color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
  };
};
