#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	fstab {
		compatible = "zephyr,fstab";

		storage_fatfs: storage_fatfs {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/STORAGE:";
		};
	};

	flash_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&storage_partition>;
		disk-name = "STORAGE";
		cache-size = <4096>;
	};

	web_gpio2: web_gpio2 {
		compatible = "webos,gpio";
		gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};

	web_rgbled48: web_rgbled48 {
		compatible = "webos,rgbled";
		gpios = <&gpio1 16 GPIO_ACTIVE_HIGH>;
		webos-pin = <48>;
		chain-length = <1>;
	};
};
